.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-item h2 {
  margin-bottom: 0;
}

.list-item button {
  background-color: #ecb6b6 !important;
  padding: 0.375rem 0.5rem;
  color: #5e2525 !important;
  border: 2px solid;
  border-color: #5e2525 !important;
  cursor: pointer;
  display: flex;
  align-items: center;
}
